/* Importação do Código */

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

/* Cores e design do Botão */

button {
  background-color: #898989;
  border: none;
  padding: 1rem;
  font-size: 1rem;
  width: 10em;
  border-radius: 1rem;
  color: #000;
  box-shadow: 0 0.4rem #c2c2c2;
  cursor: pointer;
  font-family: "Josefin Sans", sans-serif;
}

/* Animação do Botão */

button:hover {
  background-color: #ececec;
  color: #000;
}
